.card{
    width: 500px;
    height: 400px;
    border: solid 1px blue;
}
.card_images{
   
   
   
    
}
.card_images-title{
    margin: 0 auto;
    border: 2px red dotted;
    width: 30%;
    height: 200px;
    

    
}
.card_images-list{
    border: dotted 2px green;
    height: 200px;
    display: flex;
    justify-content: space-around;
}
.img{
    border: solid 1px violet;
    width: 20%;
    margin: 20px;

}
.cil1{
    width: 100%;
}